/* -------rotation ------ */
.rotation-warp {
	width: 100%;
	height: 264px;
	overflow: hidden;
	position: relative;
}

#rotation-warp-ul {
	width: 9999px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9;
}

#rotation-warp-ul li {
	width: 1920px;
	height: 264px;
	background: #ddd;
	float: left;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
/* -----content----- */
.content-warp {
	width: 1200px;
	height: auto !important;
	margin: 0 auto;
}

/* ---------hot sd ---------- */
.hot-id-warp {
	width: 100%;
	margin: 20px 0 10px 0px;
	text-align: center;
}
/* ---------hot goods-------- */
.hot-goods-warp {
	width: 100%;
	height: 521px;
}

#hot-goods-warp-nav {
	width: 100%;
	height: 40px;
	line-height: 40px;
}

#hot-goods-warp-nav h2,#hot-goods-warp-nav p {
	display: inline-block;
}

.hot-text {
	font-style: italic;
	font-weight: bold;
	opacity: .8;
	width: 100px;
	color: #F10582;
}

.hot-goods-warp-googs {
	width: 1200px;
	height:480px;
	/* overflow: hidden; */
	/* border-left: 1px solid #ddd;
	border-top: 1px solid #ddd; */
	box-sizing: border-box;
}

.hot-goods-warp-googs li {
	position:relative;
	list-style: none;
	float: left;
	width: 239.8px;
	height: 239.8px;
	box-sizing: border-box;
	padding: 4px;
	cursor: pointer;
}

.hot-goods-warp-googs li img {
	width: 100%;
	/* border-radius: 4px; */
}

.hot-goods-deta{
	display:none;
	position: absolute;
	width:232px;
	height: 90px;
	background: #fff;
	bottom:-86px;
	left:4px;
	z-index:1;
}

.hot-goods-deta > p{
	height: 26px;
	line-height: 26px;
	font-size:16px;
}
.hot-goods-deta span{
	display: block;
	float: left;
	width: 50%;
}
.hot-goods-price{
	color:#ff649d;
	font-size: 22px;
}

.hover-color-line{
	position: absolute;
	top:3px;
	left:3px;
	width:232px;
	height:232px;
	z-index:2;
}
.hover-color-line:hover{
	border: 1px solid #bbb;
	height: 322px;
}
/* ---------floor------*/
.floor-warp {
	width: 100%;
	margin-top: 30px;
}

.floor-warp-text {
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.floor-warp-subject {
	width: 100%;
	height: 460px;
}

.inline-block {
	display: inline-block;
	vertical-align: top;
}

.floor-warp-subject-items {
	width: 320px;
	height: 460px;
}

.floor-warp-subject-body {
	width: 880px;
	height: 460px;
}

.ul-warp>li {
	list-style: none;
	float: left;
	vertical-align: top;
	width: 440px;
	height: 230px;
}

.ul-warp-rotation {
	position: relative;
	overflow: hidden;
}

.ul-warp-rotation-ul {
	width: 9999px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9;
}

.ul-warp-rotation-ul li {
	width: 440px;
	height: 230px;
	float: left;
}

.ul-warp-4 li {
	width: 219px;
	height: 114px;
	float: left;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.ul-warp-2 li {
	width: 219px;
	height: 229px;
	float: left;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
/* ---------floor------*/

/* -------botton ad--- */
.bottom-ad-warp {
	width: 1200px;
	margin: 20px auto 20px auto;
	text-align: center;
}

/* 商品列表 */
.warp-commodity {
	width: 1200px;
	box-sizing: border-box;
	margin: 5px auto 0px auto;
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
}

.warp-commodity-list {
	overflow: hidden;
}

.commodity-list {
	width: 299.75px;
	/* height: 400px; */
	box-sizing: border-box;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	float: left;
}

.commodity-list-img {
	width: 299.75px;
	height: 299.75px;
	box-sizing: border-box;
	/* border-bottom: 1px solid #ddd; */
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.commodity-list-img img {
	max-width: 290px;
	max-height: 290px;
}

.commodity-list-title>a:hover {
	color: #ff649d;
	text-decoration: underline;
}

.commodity-list-school>a:hover {
	color: #ff649d;
	text-decoration: underline;
}

.commodity-list-title,.commodity-list-price,.commodity-list-school {
	height: 30px;
}

.commodity-list-title  p {
	display: block;
	width: 299.75px;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.commodity-list-price span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
}

.commodity-list-price span:first-child {
	padding: 0 5px;
	font-size: 22px;
	color: #ff649d;
}

.commodity-list-school p {
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 8px;
	box-sizing: border-box;
	font-size: 16px;
}

.commodity-list-school span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #f60;
	vertical-align: top;
	padding: 0 5px;
}

.commodity-list-user {
	width: 100%;
	height: 49px;
	padding-left: 5px;
	padding-top: 4.5px;
	box-sizing: border-box;
}

.commodity-list-user div {
	height: 40px;
	line-height: 40px;
}

.commodity-list-user-head {
	width: 40px;
	border-radius: 20px;
	overflow: hidden;
	float: left;
}

.commodity-list-user-head>img {
	max-width: 40px;
	max-height: 40px;
}

.commodity-list-user-nickname {
	padding: 0 5px;
	float: left;
}

.commodity-list-user-data {
	padding: 0 5px;
	float: right;
}
/* loading */
.loading {
	width: 1198px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.loading>img {
	width: 400px;
}
/* loading */