/* -------rotation ------ */
.rotation-warp {
	width: 100%;
	height: 264px;
	overflow: hidden;
	position: relative;
}

#rotation-warp-ul {
	width: 9999px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9;
}

#rotation-warp-ul li {
	width: 1920px;
	height: 264px;
	background: #ddd;
	float: left;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
/* -----content----- */
.content-warp {
	width: 1200px;
	height: auto !important;
	margin: 0 auto;
}

/* ---------hot sd ---------- */
.hot-id-warp {
	width: 100%;
	margin: 20px 0 10px 0px;
	text-align: center;
}
/* ---------hot goods-------- */
.hot-goods-warp {
	width: 100%;
	height: 521px;
}

#hot-goods-warp-nav {
	width: 100%;
	height: 40px;
	line-height: 40px;
}

#hot-goods-warp-nav h2,#hot-goods-warp-nav p {
	display: inline-block;
}

.hot-text {
	font-style: italic;
	font-weight: bold;
	opacity: .8;
	width: 100px;
	color: #F10582;
}

.hot-goods-warp-googs {
	width: 1200px;
	overflow: hidden;
	border-left:1px solid #ddd;
	border-top:1px solid #ddd;
	box-sizing:border-box;
}

.hot-goods-warp-googs li {
	list-style: none;
	float: left;
	width: 239.8px;
	height: 239.8px;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	box-sizing:border-box;
	padding: 7px;
}
.hot-goods-warp-googs li img{
	width: 100%;
	border-radius:4px;
}
/* ---------floor------*/
.floor-warp {
	width: 100%;
	height: 500px;
	margin-top: 30px;
}

.floor-warp-text {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
}

.floor-warp-subject {
	width: 100%;
	height: 460px;
}

.inline-block {
	display: inline-block;
	vertical-align: top;
}

.floor-warp-subject-items {
	width: 320px;
	height: 460px;
}

.floor-warp-subject-body {
	width: 880px;
	height: 460px;
}

.ul-warp>li {
	list-style: none;
	float: left;
	vertical-align: top;
	width: 440px;
	height: 230px;
}

.ul-warp-rotation {
	position: relative;
	overflow: hidden;
}
/* 杞挱寮� */
.ul-warp-rotation-ul {
	width: 9999px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9;
}

.ul-warp-rotation-ul li {
	width: 440px;
	height: 230px;
	float: left;
}
/* .ul-warp-rotation-ol{
        position: absolute;
        width: 100%;
        text-align: center;
        top: 200px;
        z-index: 10;
      }
      .ul-warp-rotation-ol li{
        display: inline-block;
        height: 14px;
        width: 14px;
        background: #fff;
        cursor: pointer;
        border-radius: 7px;
      }
      li.current-img{
        background: #000;
      } */
/* 杞挱缁撴潫 */
/* 妯″潡浜�灏忓潡 */
.ul-warp-4 li {
	width: 219px;
	height: 114px;
	float: left;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
/* 妯″潡涓�灏忓潡 */

/* 妯″潡涓�灏忓潡 */
.ul-warp-2 li {
	width: 219px;
	height: 229px;
	float: left;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
/* 妯″潡涓�灏忓潡 */
/* ---------floor------*/

/* -------botton ad--- */
.bottom-ad-warp {
	width: 1200px;
	margin: 20px auto 20px auto;
	text-align: center;
}
/* -------daren------- */
.daren-warp {
	width: 1200px;
	height: 300px;
	margin: 0 auto;
}

#daren-warp-text {
	width: 100%;
	height: 60px;
}

#daren-warp-text h2,#daren-warp-text p,#daren-warp-text span {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	margin-left: 5px;
}

#daren-warp-text p {
	font-size: 1.6rem;
	font-style: italic;
	color: #F10582;
	font-weight: bold;
}

#daren-warp-text span {
	font-size: 1.6rem;
	color: #F10582;
}

#daren-warp-con {
	width: 100%;
	height: 240px;
}

#daren-warp-con ul {
	list-style: none;
}

#daren-warp-con li {
	list-style: none;
}

#daren-warp-con-left {
	float: left;
	height: 100%;
	width: 98px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#daren-warp-con-left li {
	height: 47px;
	line-height: 47px;
	text-align: center;
	cursor: pointer;
}

#daren-warp-con-left li {
	border-bottom: 1px solid #ddd;
}

.current-daren {
	border-left: 2px solid #F10582;
	color: #F10582;
}

#daren-warp-con-right {
	float: left;
	width: 1080px;
	height: 100%;
	margin-left: 19px;
	border-left: 1px solid #ddd;
}

#daren-warp-con-right li {
	float: left;
	height: 238px;
	width: 215px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}